body{
  background: #f7f5f2;
}

.heading{
  margin-right: -3px;
  text-align: center;
  font-size: 50px;
  color: #333;
  font-family: fantasy;
}

.main{
  width:1000px;
  margin:auto;
  align-items: center;
  align-content: center;
}

.container{
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.6);
  transition:0.2s;
  width:550px;
  background:#fff;
  text-align:left;
  font-size:18px;
  float:left;
  margin:13px;
  padding: 60px 25px 25px 25px;;
  align-items: center;
  align-content: center;
}

.card-title {
  font-size: 28px;
  color: #15288c;
  text-align: center;
}

@media screen and (min-width: 500px){
  .card-wrapper{
    width: 100%;
    float: left;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
