.heading{
  font-size: 13px;
  font-color: white;
  font-style: New-Times Roman;
}

.list{
  margin:2rem 2rem;
}

@media screen and (min-width: 300px){
  .card-wrapper{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
