body {
  background-color: #f2f2f2;
  background-size: cover;
}
.card {
  box-shadow: 0 8px 20px 0 rgba(0.4,0.4,0.4,0.4);
  transition: 0.3s;
  width: 23%;
  height: 410px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  margin-top: 7%;
  margin-left: 39%;
  text-align: center;
  background-color: silver;
}

.card-left {
  box-shadow: -6px 8px 20px 0 rgba(0.4,0.4,0.4,0.4);
  transition: 0.3s;
  width: 23%;
  height: 400px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  margin-top: -18%;
  margin-left: 5%;
}

.card-right {
  box-shadow: 6px 8px 20px 0 rgba(0.4,0.4,0.4,0.4);
  transition: 0.3s;
  width: 23%;
  height: 400px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  margin-top: -27%;
  margin-left: 72%;
}

.container {
  margin-top: -7%;
}
