html{
  font-size: 13px;
  font-family:  "Times New Roman", Times, serif;
}

section{
  padding: 10rem 0;
  background-color: #fff;
}

.heading{
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: #333;
  position: relative;
}

.card-wrapper{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.card{
  width: 30rem;
  height: 50rem;
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 2rem 2rem;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
}

.card-img{
  width: 100%;
  -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

.card h2{
  font-size: 2.5rem;
  color: #333;
  margin: 1.5rem 1.0rem;
  text-align: center;
}


.support{
  font-size: 1.3rem;
  margin: 1.5rem 1.5rem 1.5rem;
  font-style: italic;
  text-align: center;
  color: #333;
}

@media screen and (min-width: 300px){
  .card-wrapper{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
